body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  min-height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url("../public/bg.jpg") center/cover no-repeat;
  color: #fff;
}


.navbar {
  display: flex;
  gap: 30px;
  padding: 15px 40px;
  background: rgba(0, 0, 0, 0.75);
}

.navbar a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: #00ffd5;
}

.section {
  background: rgba(0, 0, 0, 0.7);
  margin: 30px;
  padding: 25px;
  border-radius: 8px;
}

input,
select {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 8px 14px;
  margin: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #00ffd5;
}
